.container {
  position: absolute;
  top: 50%;
  left: 50%;
  pointer-events: none;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}

.petal {
  position: absolute;
  border-radius: 100% 0 100% 0; /* Petal shape */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transform-origin: center;
}
